{% extends "base.html" %} 

{% block title %}Home{% endblock %} 

{% block header %}<link href="{{ url_for('static', filename='css/messages.css') }}" rel="stylesheet">{% endblock %}

{% block content %} 

{% include "navbar.html" %}

<div class="row">

  <div class="col-md-3">

  </div> <!-- col-md-3 -->
  
  <div class="col-md-9">
    
    <div class="row">
      
      <div class="col-md-9">

          <div id="w">


            <div id="container">
              <ul id="private-messages">
            
            
                {% for x in privateMessages.items %}


                {% if x.fromUser.username == session.username %}
                <li class="private-message">
            
                  <div class="private-message-content-right">
                       
                      <p>{{x.text}}

                        <h6 class="pubdate">{{x.createDate}}</h6>
                      </p>
                     
                                          
                  </div>
               
            
                 </li>
                {% else %}
                <li class="private-message">
            
                  <div class="private-message-content-left">
                      <div class="media">
                          <div class="media-left">
                          <a class="img-thumbnail" href="{{ url_for('user_app.profile', username=x.fromUser.username) }}">
                                  <img src="{{ url_for('static', filename = x.fromUser.profile_imgsrc('sm')) }}" width="50" alt="{{ x.fromUser.username }}">
                          </a>
                    
                    </div>
                  </div>
                  <br>
                  <p>{{x.text}}

                      <h6 class="pubdate">{{x.createDate}}</h6>
                    </p>
                  </div>
       
                 </li>
                {% endif %}
               
                {% endfor %}
                          
                </ul>
              </div>
        </div>
            
           
        </div> <!-- row -->

             
      </div> <!-- col-md-9 -->

      {% from "feed/_feed_messages.html" import render_navigation_profile  %}

        {{ render_navigation_profile(privateMessages, 'user_app.view_messages', toUser.username )}}

       


      <!-- post text input -->
      <div class="row feed-message">
          {% if error %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endif %}
      
          {% from "_formhelpers.html" import render_field %}
          <form method="POST" action="{{ url_for('user_app.send_message')}}" role="form" enctype="multipart/form-data">
      
            {{ form.hidden_tag() }}
      
            <div class="form-group">
             
              {{ form.message(class='private-message-textarea form-control', rows=2, placeholder = 'Type here') }}
            </div>
            
            <input type="hidden" name="toUser" value="{{ toUser.username }}" />
            <button type="submit" class="btn btn-primary pull-left">Send</button>
            
      
          </form>
          <a href="{{ url_for('user_app.clear_chat', username = toUser.username)}}"><button type="button" class="btn btn-primary " style="margin-left: 10px;">Clear chat</button></a>

      
      </div>
      
    
        <!-- post text input -->
    
      <div class="col-md-3"> 
      
      </div> <!-- col-md-3 -->
    
  </div> <!-- col-md-9 -->

</div> <!-- row -->
{% endblock %}